

    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h1><%= title %></h1>
                <br>
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row-->
                    <tr>
                        <th class="text-center">Software</th>                  
                        <th class="text-center">Programming Language</th>
                    </tr>
                    
                
                    <tr>
                            <td class="text-center">Visual Studio</td>
                            <td class="text-center">C#</td>
                    </tr>

                    <tr>
                            <td class="text-center">Database</td>
                            <td class="text-center">MySQL, SQLite, Oracle</td>
                    </tr>

                </table>

            </div>
        </div>
    </div>