<% include ./partials/header.ejs %>

    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to <%= title %></h1>
        <% if (title == "Home") { %>
          <a class="btn btn-primary" href="/about" role="button">About ME</a>
        <% } %>

        <% if (title == "About") { %>
         <% include ./partials/about.ejs %>
          <a class="btn btn-primary" href="/about-list" role="button">My Favorite Things</a>
        <% } %>
        
        <% if (title == "Contact") { %>
          <a class="btn btn-primary" href="/contact-list" role="button">Contact List</a>
        <% } %>
      </div>
    </div>

<% include ./partials/footer.ejs %>
